<!DOCTYPE html>
<html>
  <head>
    <title>Mood Swings</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald|PT+Sans+Narrow" rel="stylesheet">
    <style>
      body {
        font-family: 'Oswald', sans-serif;
      }
      .card {
        background-color: lightblue;
        padding: 20px;
      }
    </style>
  </head>
  
  <body>
    <nav class="navbar fixed navbar-expand-md navbar-light" style="background-color: white;" id="nav">
        <a class="navbar-brand" href="index.erb">Mood Swings<img src="https://cdn3.iconfinder.com/data/icons/camping-outline-pt-3/100/107_-_swing_playground-512.png" width='50px'></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="happy">happy</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="upset">upset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stressed">stressed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="peaceful">peaceful</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="about_us">about us</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="card">
      <img src="https://lh3.googleusercontent.com/wvtykb8vthmwB7FFT_4k8SziBQPkufRMjHK3-qw_s_JHVNRs9pvI0JDIhshktU8sVqfsDftVXIgRTtB5jlAAfA3xp8Zgq-ItOE4m1fABDKTPW5bI1etlqxP9sFt1ib58ThNbd8WfD6pG3IEotOiIbPI17rS659b-GLiwXQekljgxcnVyH_hiPKMrsaDOBjTcX9v30n0xUW3NbahOKjgBibi31MYX6DDOBjAdgq92LdT9eYsShS5Obduo3weRY-zB_S3Sa9WmJY7mkqlRf4nX1Age6RWhx_NjhtJJfN9bNG7QL_QFH2NGW5MtqFOWSUG4ziGn9Z6JxbxM7p_MJQ8nQ9yUE1xWYKvjkRvylSTuNDHheP0VyPEA7Uk9OkIKcrsOs8QNmkhKg-HnRhvSSPg_KesBLW_sm2TK-yFqowoNw0JrVteSzSTwNUt5nqxn6vPa-BAfrHCd3RcI-6LWEA2HF5Dcp46RySa7zi71s16V4XCSBEEVsgLn_fczxQyKkKu8aZrdJseKhgNBxvgOKrp8UPjBFwpklismbyRFQDbfcFPIWW20hMpqNf6H35ww56BPowamvC-muQagw3dm">
      <p>
      Our story... It all started when we decided to go to Kode with Klossy and learn how to code. With what we learned we were told to create a website, and the website we decided to make is this one! We made this for your mental wellness. Our mission was to help people reach complete elatedness. We hope that everyone by the time they are finished with their time on our site, everyone exits feeling hppier than before.
      
      From the team over here, to you,
                                     xoxo Alex, Delaney, Emi, Kiley  
  
    </p>
    </div>
      
    
  </body>
</html>