<!DOCTYPE html>
<html>
  <head>
    <title>
      MOOD
    </title>
    <style>
      a {
        padding: 10px;
      }
      .card {
        font-family: 'Oswald', sans-serif;
        margin-top: 20px;
        padding: 20px;
        background-color: lightblue;
      }
      h1 {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <h1>
      HERE'S YOUR MOOD
    </h1>
    <div class="card">
      <h3> HI, YOUR MOOD IS <%=@mood_results%>. </h3>
      <h4>NOW GO TO YOUR PAGE:</h4>
      <p><a href="happy">happy</a><a href="upset">upset</a><a href="stressed">stressed</a><a href="peaceful">peaceful</a></p>
    </div>
  </body>
</html>